<%- include("../partials/head", { title: "Confirmation" }) %>

<section class="confirmation">
  <h1>✅ Réservation confirmée !</h1>
  <p>Merci <strong><%= nom_client %></strong> pour votre réservation du <%= date_reservation %>.</p>


  <h2>Détails de votre commande :</h2>
  <ul>
    <% billetsChoisis.forEach(item => { %>
      <li>
        <strong><%= item.billet.getIntitule() %></strong> - 
        Quantité : <%= item.quantite %> - 
        Prix unitaire : <%= item.billet.getTarifUnitaire() %> € - 
        Sous-total : <%= item.billet.getTarifUnitaire() * item.quantite %> €
      </li>
    <% }) %>
  </ul>

  <p><strong>Total payé :</strong> <%= reservation.montant_total %> €</p>

  <a href="/">⬅ Retour à l’accueil</a>
</section>

<%- include("../partials/footer") %>
