<%- include("../../partials/head", { title: "Liste des auteurs" }) %>

<main class="page">
  <div class="book-browse">
    <div class="book-browse-header">
      <h1>Parcourir les auteurs</h1>
      <div class="book-browse-header-actions">
      </div>
    </div>

    <ul class="book-browse-list">
      <% authors.forEach((author) => { %>
      <li class="book-browse-list-card">
        <a href="/authors/<%= author.getId() %>" class="book-browse-list-card-link">
          <article class="book-browse-list-card-link-article">
            <div class="book-browse-list-card-link-article-header">
              <h2><%= author.getFullName() %></h2>
              <p><%= author.getBookCount() %></p>
            </div>
          </article>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
</main>

<%- include("../../partials/footer") %>
